# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

schedules:
  - cron: 00 1 * * *
    displayName: onePm
    branches:
      include:
        - master

trigger:
  - master


steps:
  step: start
    displayName: start
    jobs:
      - job: jobStart
          displayName: start
          pool: macschedora
          bash: echo "Start docker image build"
  step: build
    dependsOn: start
    jobs:
      - job: buildJob
          displayName: buildJob
          steps:
            - task: Docker@2
              displayName: buildDocker
            inputs:
              command: build
              dockerfile: src/backend/Schedora/WebApi/Dockerfile
              buildContext: '$(Build.SourcesDirectory)รก
              tags: |
                $(tag)